@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Lexend:wght@100;600&family=Outfit&family=Playfair+Display&display=swap');
*{margin: 0;padding: 0;text-decoration: none;}

header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav{
  width: 1000px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -1110px;
  margin-left: 900px;
}

header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
header nav ul li{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}
header nav ul li a{
  color: #FEF0DA;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 1.0em;
  letter-spacing: -0.05em;
  transition: 1s;
  position: absolute;
}
header nav ul li a:hover{
  color: #ffffff;
  font-size: 1.1em;
  transition: 0.8s;
  position: relative;
}

.menu1{width: 214px;}
.menu2{width: 293px;}
.menu3{width: 136px;}
.menu4{width: 240px;}

.home{
  width: 100%;
  height: 1280px;
  background-image: url('img/mainp.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

}

.maintext img {
  position: absolute;
  margin-top: -450px;
  margin-left: 150px;
  opacity: 0;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

      }

      @keyframes fadein {
          from {opacity: 0;}
          to {opacity: 1;}
      }

      @-webkit-keyframes fadein {
          from {opacity: 0;}
          to {opacity: 1;}
      }



.ci img {
   position: absolute;
   margin-top: -700px;
   margin-left: -323px;
   mix-blend-mode: multiply;
   animation: fadein 2s;
  -webkit-animation: fadein 2s;
      }

      @keyframes fadein {
          from {opacity: 0;}
          to {opacity: 1;}
      }
        @-webkit-keyframes fadein {
          from {opacity: 0;}
          to {opacity: 1;}
      }


.logo img {
  position: absolute;
  margin-top: -540px;
  margin-left: -790px;
}

footer{
  width: 100%;
  height: 40px;
  background-color: #14252E;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FEF0DA;
  font-family: 'Playfair Display', serif;
  font-size: 0.8em;
  letter-spacing: -0.05em;
}
